body {
  font-family: 'Droid Serif';
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 300;
  margin-bottom: 0;
}

#footnote {
  position: fixed;
  width: 250px;
  bottom: 5%;
  right: 3%;
  z-index: 1000;
}


.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }
.footnote {
  position: absolute;
  bottom: 3em;
  font-size: 0.8em;
}

li p { line-height: 1.25em; }
.red { color: #fa0000; }
.large { font-size: 2em; }
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
code {
  background: #e7e8e2;
  border-radius: 5px;
}
img{
  max-width: 100%;
  height: auto;
  max-height: 45vh;
  margin-top: 20px;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-code-line-highlighted     { background-color: #373832; }
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}
#slideshow .slide .content code {
  font-size: 0.8em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
.inverse {
  background: #000;
  color: #b6b6b6;
}
.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}
#slide-data h1{text-align: left}
/* Slide-specific styling */
.footnote {
  bottom: 12px;
  left: 20px;
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.left-column h2 {
  padding-bottom: 15px;
  border-bottom: 4px solid white;
}
.right-column {
  width: 65%;
  float: right;
  padding-top: 0.5em;
  margin-right: 5%;
  font-size: 1.1em;
}
.right-column li{
  padding-bottom: 10%;
}
.inverse .left-column h2:last-of-type, .left-column h3:last-child {
  color: #fff;
}
/* Specific slides */
#slide-recomendation .right-column{
  width: 50% !important;
}
.lego_special img{
  width: 20% !important;
}
#slide-general{
  background-image: url("img/learning01.jpeg");
  background-size: contain;
}

.box-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
  background-color: red;
}

.box{
  flex: 1 1 0;
  text-align: center;
}

.box img {
  margin: 0 30px !important;
  width: 200px;
  margin: 0px 20px;
}

.circled-img img {
  border-radius: 100%;
  width: 180px;
  margin-bottom: 200px;
  transform: translate(0, 0%);
}

h5 {
  color: #b6b6b6 !important;
}
